body {
background-color: #EBE9E9;
}
.navbar {
font-family: 'Barlow Semi Condensed', sans-serif;
margin-bottom: 4em;
}
h1 {
color: #3B1F2B;
font-family: 'Barlow Semi Condensed', sans-serif;
}
p {
font-family: 'Crimson Text', serif;
}
#canDo {
font-size:6em;
font-family: 'Barlow Semi Condensed', sans-serif;
}
u {
text-decoration: none;
border-bottom: 3px dashed red;
}
#row2 {
margin-bottom: 1em;
}
button {
width: 10em;
font-family: 'Barlow Semi Condensed', sans-serif;
}
button.close {
width: 2em;
}
